body {
  font-family: "Montserrat";
}

h1 {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

h2 {
  font-family: "Montserrat";
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1.5;
}

p {
  color: #8f8f8f;
}

#title {
  background-color: #ff4c68;
  color: #ffffff;
}

.container-fluid {
  padding: 3% 15%;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 400;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: relative;
  left: 30%;
}

/* Features */
#features {
  padding: 7% 15%;
  background-color: #ffffff;
}

.feature-box {
  text-align: center;
  padding: 4.5%;
  /* margin-bottom: 30px; */
}

.features {
  font-family: "Montserrat";
}

.feature-header {
  font-size: 1.5rem;
  font-weight: 900;
}

.feature-icons {
  padding-top: 2rem;
  margin-bottom: 1rem;
  color: #ef8172;
}

.feature-icons:hover {
  color: #ff4c68;
}

/* Testimonials */

#testimonials {
  background-color: #ef8172;
  color: #ffffff;
  text-align: center;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px;
}

/* Pricing Section */
#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-col {
  padding: 3% 2%;
}

@media (max-width: 1200px) {
  .title-image {
    position: static;
    transform: rotate(0);
  }

  #title {
    text-align: center;
  }
}

/* Call to action & Footer */

#cta {
  background-color: #ff4c68;
  text-align: center;
  padding: 4% 20%;
}

#cta-h3 {
  font-family: "Montserrat";
  color: #ffffff;
  font-weight: 900;
  line-height: 1.5;
  font-size: 2.5rem;
}

#footer {
  background-color: #ffffff;
  text-align: center;
  padding: 2% 5%;
}

.social-icon {
  margin: 30px 10px;
  text-decoration: none;
}

a {
  color: inherit;
}
